.cartIcon{
    display: inline-block;
    position: relative;
    
    &-icon{
        opacity: .7;
        transition: .2s ease;
        cursor: pointer;

        &:hover{
            opacity: 1;
            transform: scale(1.1);
        }
    }

    &-counter{
        position: absolute;
        top: 0;
        left: -1.5vw;
        width: 1.3rem;
        height: 1.3rem;
        line-height: 1.3rem;
        color: $color-white;
        background-color: $color-orange;
        border-radius: 50%;
        text-align: center;
        z-index: 9;
    }
}