.navBlack{ background-color: $color-black; }
.navTransparent{ background-color: transparent;}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    height: 15vh;
    color: $color-white;
    width: 100%;
    z-index: 1;

    &__elements{
        height: 100%;
        width: 80%;
        margin: 0 auto;
        border-bottom: 1px solid rgba($color-grey, .2);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}