.navlist{
    list-style: none;

    &-item{
        display: inline-block;
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 500;
        color: $color-grey;
        transition: .2s ease;
        letter-spacing: .075rem;
        
        &:hover, &:focus, &:active{
            transform: scale(1.05);
            color: $color-orange;
            backface-visibility: hidden;
        }
    }
}