.navlist{
    list-style: none;

    &-item{
        display: inline-block;
        margin-right: 3vw;
        font-size: .8rem;
        color: $color-grey;
        transition: .2s ease;

        &:last-child{
            margin-right: 0;
        }

        &:hover{
            transform: scale(1.1);
            color: $color-orange;
        }
    }
}