.navlist{
    list-style: none;

    &-item{
        display: inline-block;
        font-size: .8rem;
        transition: .2s ease;
        text-transform: uppercase;
        color: $color-grey;
        
        &:hover, &:focus, &:active{
            transform: scale(1.1);
            color: $color-orange;
            backface-visibility: hidden;
        }
    }
}