.navbar{
    top: 0;
    left: 0;
    height: 15vh;
    background-color: transparent;
    color: $color-white;
    width: 100vw;

    &__elements{
        height: 100%;
        width: 80vw;
        margin: 0 auto;
        border-bottom: 1px solid rgba($color-grey, .2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;

        &-logo{
            content: url('../../assets/shared/desktop/logo.svg');
        }

        &-list{
            list-style: none;

            // doesn't recognize &--item
            li{
                display: inline-block;
                margin-right: 3vw;
                font-size: 0.8rem;
                color: $color-grey;
                transition: .1s ease;

                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    transform: scale(1.1);
                    color: $color-orange;
                }
            }
        }

        &-cart{
            content: url('../../assets/shared/desktop/icon-cart.svg');
            opacity: .7;
        }
    }
}