.error{
    width: 100vw;
    height: 100vh;

    &-message{
        position: absolute;
        top: 30vh;
        left: 15vw;
        font-size: 4rem;
        font-weight: 700;
        color: $color-black;
    }
}