@mixin button{
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .1s ease;
    z-index: 122;

    &:hover{
        transform: scale(1.05);
    }
}