@mixin button{
    width: 10rem;
    height: 3rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .1s ease;

    // hover doesn't work
    &:hover{
        transform: scale(1.1);
    }
}