$color-grey: #d0d0d0;
$color-dark-grey: #191919;
$color-light-grey: #fafafa;
$color-orange: #d87c49;
$color-dark-orange: #a75f39;
$color-orange-light: #fbaf85;
$color-white: #ffffff;
$color-black: #272727;

$font-family: "Manrope", sans-serif;