$color-grey: #d0d0d0;
$color-dark-grey-1: #7a7a7a;
$color-dark-grey-2: #363636;
$color-light-grey: #f1f1f1;
$color-orange: #d87c49;
$color-dark-orange: #a75f39;
$color-orange-light: #fbaf85;
$color-white: #ffffff;
$color-black: #0e0e0e;

$font-family: "Manrope", sans-serif;