.hero{
    position: relative;
    max-width: 100vw;
    // margin-top: 15vh;
    // transform: translateY(15vh);

    &-image{
        width: 100%;
        height: auto;
    }

    &__content{
        position: absolute;
        top: 35vh;
        left: 10vw;
        width: 30vw;
        animation-name: contentAppearance;
        animation-duration: 2s;
    }

    &-header{
        &--third{
            text-transform: uppercase;
            color: $color-dark-grey-1;
            letter-spacing: .8rem;
            font-weight: 400;
        }
    }

    &-text{
        color: $color-dark-grey-1;
    }
}