.hero{
    position: relative;
    margin-top: -15vh;
    max-width: 100vw;
    height: 106vh;
    background-image: url('../../assets/home/desktop/image-hero.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: -1;
}